.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

div::-webkit-scrollbar {
  display: none;
}


.activity-container{
  border: 2px solid #1C6EA4;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  /* line-height: 1; */
}


.routine-container{
  border: 2px solid #1C6EA4;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  /* line-height: 1; */
}


.profile-container{
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 500px;
  background-color: white;
  
}

.user-profile-name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-container{
 display: flex;
 text-align: center;
}

#instructions{
  width: 300px;
  height: 100px;
  
}

.user-routines-card-container{
  border: 2px solid #1C6EA4;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
}

.app-container{
  background-color: efeeea;
}

#routinely-logo{
  height: 40px;

}

/* .navbar-container{
  overflow: hidden;
  background-color: rgb(20, 20, 133);
  position: fixed; 
  display: flex;
  top: 0; 
  width: 100%; 
  height: 80px;
  margin: 0 6px 6px;
  padding: 5px;
  justify-content: space-between;
} */

.navbar-container{
  background-color: #191977;
    display: flex;
    height: 40px;
    width: 100%;
    padding: 3px;
    margin: 0 2px 2px;
    justify-content: space-between;
    top: 0;
    /* position: fixed; */
}

.nav-btn a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 10px;
  font-family: ui-serif;
  text-decoration: none;
  color: white;
}

.drop-down-menu{
  background-color: white;
  border-color: grey;
}


/* .btn :hover {
  color:#a10f0f;
  box-shadow: #a10f0f;
}


#plus-button :hover{
  color:#a10f0f;
  box-shadow: #a10f0f;

}
button {
  background: linear-gradient(to bottom right, #4e47ef, #5a8cff);
  border: 0;
  border-radius: 36px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
} */


.plus-icon {
  text-align: center;
  padding-top: 4px;
}


#plus-button {
  margin-left: 500px;
}

.btn {
  align-items: center;
  background-color: #0A66C2;
  border: 0;

  border-radius: 36px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 8px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn:hover,
.btn:focus { 
  background-color: #167e45;
  color: #ffffff;
}

.btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.btn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}