.App {
  display: flex;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

div::-webkit-scrollbar {
  display: none;
}

.activity-container{
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #1C6EA4;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  padding: 1%;
  margin: 1.5%;
  margin-left: 320px;
  margin-right: 320px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.actvty-page-header{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #1C6EA4;
  border-radius: 500px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  color: #566AE5;
  font-weight: 800;
  font-size: 60px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;
  text-shadow: 3px 3px #e1e125;
  box-shadow: 2px 2px rgb(82, 88, 14);
}


.routine-container{
  border: 10px solid #1C6EA4;
  position: relative;
  padding-left: 39px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  margin: 15px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 25px
}


.profile-container{
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 500px;
  background-color: white;
  
}

.user-profile-name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-container{
 display: flex;
 text-align: center;
}

#instructions{
  width: 300px;
  height: 100px;
  
}

.user-routines-card-container{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  border: 5px solid #1C6EA4;
  /* position: relative; */
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 3em;
  margin-bottom: 2em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  background-color: white;
  text-align: center;
  justify-content: center;
} 

.app-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
  background-color: efeeea;
}

.activity-page{
  display: flex;
  background-color: efeeea;
  background-image: url("https://img.freepik.com/free-vector/man-sport-activities_102902-2338.jpg?w=1380&t=st=1669233240~exp=1669233840~hmac=cfdb7370806c6f4ad4d721be5fde757ae95722cdf3a27ae557b22a058bd69418");
}


.activity-form{
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: .6em solid #1C6EA4;
  background-color: white;
  margin-left: 20.5em;
  margin-right: 20.5em;
  margin-top: 1em;
  padding-bottom: 1em;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif; 
  font-weight: 700;
}

.activity-input{
  font-family: monospace;
}

#routine-filter{
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.routine-filter-selector{
  border-radius: 15%;
  margin-left: 1em;
   font-family: 'Courier New', Courier, monospace;  
}

#notes{
  height: 10em;
  width: 50em;
  overflow-wrap: break-word;
  word-break: break-all;
  margin-left: 1em;
  margin-right: 1em;
}

.routine-page{
  background-image: url("https://img.freepik.com/free-vector/gradient-home-gym-illustration_23-2148819450.jpg?w=1800&t=st=1669233716~exp=1669234316~hmac=f66f9883d37f8682fbfe7dac9d21d5da995e680775d405c5485d04e7208290f5");
  
}

.profile-page{
  background-image: url("https://img.freepik.com/free-vector/people-practicing-yoga-exercise-meditation_1308-118205.jpg?w=2000&t=st=1669234519~exp=1669235119~hmac=99f7a7014ebb82d0ba71a824a3e7ae94beda29ce3ed29ab103e1abf85d494ba0");
  background-repeat: repeat;
}

#routinely-logo{
  height: 40px;

}


.navbar-container{
    background-color: #191977;
    display: flex;
    text-align: center;
    justify-content: space-around;
    top: 0;
}

.nav-btn a {
  display: flex;
  text-align: center;
  padding: 14px 10px;
  font-family: ui-serif;
  text-decoration: none;
  color: white;
}

.drop-down-menu{
  background-color: white;
  border-color: grey;
}



#plus-button {
  margin-left: 500px;
}


#delete-btn{
  position: absolute;
  border-radius: 13px;
  left: 24px;
  top: 19px;

}


#routine-select-btn{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20%;
}

.select-routine-btn-container{
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}



#edit-btn{
 position: absolute;
 border-radius: 13px;
 right: 24px;
 bottom: 19px;
}

.create-btn-div{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: #566AE5;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  /* border-radius: 15%; */
  color: #FFFFFF;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
}

.card-click{
  cursor: pointer;
}

.btn:hover {
  background-color: #1f349d;
}
