.App {
  display: flex;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

div::-webkit-scrollbar {
  display: none;
}

/* 
.activity-container{
  display: block;
  border: 10px solid #1C6EA4;
  position: relative;
  text-align: center;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  margin: 15px;
  margin-left: 320px;
  margin-right: 320px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  justify-content: space-around;
} */

/* .activity-container{
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  display: block;
  border: 10px solid #1C6EA4;
  position: relative;
  text-align: center;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  margin: 15px;
  margin-left: 320px;
  margin-right: 320px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  justify-content: space-between;
} */


.activity-container{
  display: flex;
  border: 10px solid #1C6EA4;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding-left: 39px;
  padding-right: 39px; */
  /* padding-bottom: 12px;
  padding-top: 12px; */
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  margin: 15px;
  margin-left: 320px;
  margin-right: 320px;
  /* margin-bottom: 25px; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* justify-content: space-between; */
}



/* .activity-container h5 {
  padding-left: 400px;
} */
.actvty-page-header{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #1C6EA4;
  border-radius: 500px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  color: #566AE5;
  font-weight: 800;
  font-size: 60px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;
  text-shadow: 3px 3px #e1e125;
  box-shadow: 2px 2px rgb(82, 88, 14);
}

.routine-container{
  border: 10px solid #1C6EA4;
  position: relative;
  /* text-align: center; */
  padding-left: 39px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  margin: 15px;
  /* margin-left: 180px;
  margin-right: 180px; */
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 25px
}


.profile-container{
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 500px;
  background-color: white;
  
}

.user-profile-name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-container{
 display: flex;
 text-align: center;
}

#instructions{
  width: 300px;
  height: 100px;
  
}

.user-routines-card-container{
  border: 2px solid #1C6EA4;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
}

.app-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: efeeea;
}

.activity-page{
  display: flex;
  /* align-items: center; */
  background-color: efeeea;
  background-image: url("https://img.freepik.com/free-vector/man-sport-activities_102902-2338.jpg?w=1380&t=st=1669233240~exp=1669233840~hmac=cfdb7370806c6f4ad4d721be5fde757ae95722cdf3a27ae557b22a058bd69418");
  /* min-height: 100vh; */
  
}

.routine-page{
  background-image: url("https://img.freepik.com/free-vector/gradient-home-gym-illustration_23-2148819450.jpg?w=1800&t=st=1669233716~exp=1669234316~hmac=f66f9883d37f8682fbfe7dac9d21d5da995e680775d405c5485d04e7208290f5");
  
}

.profile-page{
  background-image: url("https://img.freepik.com/free-vector/people-practicing-yoga-exercise-meditation_1308-118205.jpg?w=2000&t=st=1669234519~exp=1669235119~hmac=99f7a7014ebb82d0ba71a824a3e7ae94beda29ce3ed29ab103e1abf85d494ba0");
  background-repeat: repeat;
}

#routinely-logo{
  height: 40px;

}

/* .navbar-container{
  overflow: hidden;
  background-color: rgb(20, 20, 133);
  position: fixed; 
  display: flex;
  top: 0; 
  width: 100%; 
  height: 80px;
  margin: 0 6px 6px;
  padding: 5px;
  justify-content: space-between;
} */

.navbar-container{
  background-color: #191977;
    display: flex;
    height: 40px;
    width: 100%;
    padding: 3px;
    margin: 0 2px 2px;
    justify-content: space-between;
    top: 0;
}

.nav-btn a {
  /* float: left; */
  display: flex;
  text-align: center;
  padding: 14px 10px;
  font-family: ui-serif;
  text-decoration: none;
  color: white;
}

.drop-down-menu{
  background-color: white;
  border-color: grey;
}


.plus-icon {
  text-align: center;
  padding-top: 4px;
}


#plus-button {
  margin-left: 500px;
}


#delete-btn-icon{
  padding-top: 3px;
  text-align: center;
}

/* #delete-btn :hover{
  color: red;
} */

#delete-btn{
  position: absolute;
  left: 24px;
  top: 19px;
  /* margin-right: -7%; */
}


#edit-btn{
 position: absolute;
 right: 24px;
 bottom: 19px;
}

#edit-btn-icon{
  padding-top: 2.5px;
  text-align: center;
}

.new-activity-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-btn-div{
  text-align: center;
}

/* 
#new-activitiy-btn{
  mar: 70px;
} */
.btn{
  display: flex;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: #566AE5;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
}

.card-click{
  cursor: pointer;
}

.btn:hover {
  /* box-shadow: 0 2px 2px rgba(216, 24, 24, 0.12); */
  background-color: #1f349d;
}
